.block_breadcrumb{
  background-color: #2c3136;
  padding: 10px 0;
}
.uk-breadcrumb{
  li{
    &:nth-child(n+2){
      &:not(.uk-first-column){
        &:before{
          content: "\f105";
          font-family: FontAwesome;
          margin: 0 10px;
          color: #FFFFFF;
        }
      }
    }
    a{
      color: #FFFFFF;
    }
    span{
      color: #FFFFFF !important;
    }
  }
}