.box_catalog{
  color: #FFFFFF;
  h1{
    color: #FFFFFF;
    font-size: 28px;
    font-family:'SVN-Gilroy Bold';
  }
  p{
    margin: 0;
    font-family:'SVN-Gilroy Light';
  }
}
.box_aside{
  background-color: #fff;
  border: 1px solid #bababa;
  .title{
    font-size: 16px;
    font-family:'SVN-Gilroy Bold';
    padding: 10px 0;
    border-top: 1px solid #bababa;
    border-bottom: 1px solid #bababa;
    color: #000;
    margin: 0;
    &:nth-child(1){
      border-top: none;
    }
  }
  label{
    >div{
      display: inline-block;
      transform: scale(0.7);
    }
  }
  img{

  }
}
.tab{
  a{
    color: #444444;
    &.uk-active{
      color: #980000;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #ccc;
    }
  }
}
.title_catalog{
  font-family:'SVN-Gilroy Bold';
  font-size: 18px;
}
.btn2{
  border-radius: 18px;
  background-color: #ebebeb;
  border-color: #cdcccc;
}