body{
  font-size: 14px;
  background-color: #f2f2f2;
  &:not(.home){
    #header{
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
    }
  }
}
.title_c{
  i.fa{
    font-size: 10px;
    color: #dc393e;
  }
  .block_tintuc &{
    span{
      color: #ffffff;
    }
  }
}