/*====================[SVN-Gilroy]====================*/
@font-face{
  font-family:'SVN-Gilroy Bold';
  src:url('../fonts/SVN-Gilroy/SVN-Gilroy Bold.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'SVN-Gilroy Light';
  src:url('../fonts/SVN-Gilroy/SVN-Gilroy Light.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/*====================[Montserrat]====================*/
@font-face{
  font-family:'Montserrat-Medium';
  src:url('../fonts/Montserrat/Montserrat-Medium.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Montserrat-SemiBold';
  src:url('../fonts/Montserrat/Montserrat-SemiBold.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Montserrat-Bold';
  src:url('../fonts/Montserrat/Montserrat-Bold.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Montserrat-Regular';
  src:url('../fonts/Montserrat/Montserrat-Regular.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Montserrat-MediumItalic';
  src:url('../fonts/Montserrat/Montserrat-MediumItalic.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}