#footer{
  background-color: #262626;
  hr{
    border-color: #606060;
  }
}
.title_f{
  color: #ffffff;
  font-size: 15px;
}
.list1_f{
  li{
    a{
      color: #6d7072;
    }
  }
}
.box1_f{
  .uk-legend{
    font-size: 14px;
    color: #6d7072;
  }
  .uk-input{
    background-color: transparent;
    border-color: #6d7072;
    font-size: 14px;
  }
  .uk-button{
    background-color: #6d7072;
    border-color: #6d7072;
  }
}
.payment_method{
  margin-left: -5px;
  >li{
    padding-left: 5px;
    img{
      height: 40px;
    }
  }
}
.dcma{
  img{
    height: 36px;
  }
}
.site_map_f{
  li{
    a{
      color: #ffffff;
      font-size: 14px;
      img{
        height: 18px;
      }
      span{
        color: #919699;
      }
    }
  }
}
.Nav_f{
  li{
    font-size: 13px;
    a,span{
      color: #6d7072;
    }
    &:nth-child(n+2){
      &:not(.uk-first-column){
        &:before{
          content: '|';
          margin: 0 10px;
          color: #6d7072;
        }
      }
    }
  }
}
.select_lang{
  &:after{
    content: "\f0d8";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
  }
}