.block_tintuc{
  background-color: #161819;
}
.card1{
  .uk-card-title{
    a{
      color: #4b4b4b;
    }
  }
  p{
    color: #4b4b4b;
  }
  .uk-divider-small{
    &:after{
      width: 30px;
      border-color: #505355;
      border-width: 2px;
    }
  }
}