.uk-pagination{
  li{
    font-family:'SVN-Gilroy Bold';
    a{
      width: 35px;
      height: 35px;
      background-color: #fff;
      border: 1px solid #d8d8d8;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    >span{
      width: 35px;
      height: 35px;
      background-color: #fff;
      border: 1px solid #d8d8d8;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    &.uk-active{
      >span{
        border-color: #ddb6af;
        color: #4f3c3c;
      }
    }
  }
}