.title_tskt{
  position: relative;
  font-size: 16px;
  padding-bottom: 6px;
  padding-left: 15px;
  border-bottom: 1px solid #000000;
  font-family:'SVN-Gilroy Bold';
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 18px;
    background-color: red;
  }
}
.box1_sp{
  padding: 20px;
}
.title_rate{
  font-size: 15px;
  font-family:'Montserrat-SemiBold';
  color: #464850;
}
.diemdanhgia{
  span{
    font-size: 44px;
    font-family:'Montserrat-SemiBold';
    color: #464850;
  }
  i.fa-star{
    color: #f5a621;
    font-size: 17px;
  }
}
.line_pro{
  i.fa{
    font-size: 17px;
    &.fa-star{
      color: #f5a621;
    }
    &.fa-star-o{
      color: #dee3e9;
    }
  }
  .uk-progress{
    height: 6px;
    background-color                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          : #eeeeee;
    &[value]{
      &::-webkit-progress-bar{
        &:after{
          background-color: #f5a621 !important;
        }
      }
    }
  }
}
.txt_phantram{
  min-width: 36px;
}
.card7{
  background-color: #f9f9f9;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
}
.rating{
  width: 100px !important;
  span{
    color: #f5a621;
    font-size: 21px;
  }
}
.box2_ctsp{
  span{
    color: #e6e6e6;
  }
  .uk-button{
    background-color: #d97672;
    border-color: #d97672;
    border-radius: 4px;
  }
}
.title1{
  font-size: 28px;
  font-family:'SVN-Gilroy Light';
}
.rate1{
  font-family:'SVN-Gilroy Light';
  i.fa{
    color: #f5a621;
  }
  span{
    color: #f5a621;
  }
  a{

  }
}
.table1{
  tr{
    td{
      &:first-child{
        padding-left: 0;
        white-space: nowrap;
      }
      b{
        color: #000;
        font-family:'SVN-Gilroy Bold';
      }
      &:last-child{
        font-family:'SVN-Gilroy Light';
      }
    }
  }
}
.select_size{
  input{
    &:checked + span{
      border-color: #ef0505;
      //color: #ef0505;
      position: relative;
      &:before{
        content: "\f00c";
        position: absolute;
        bottom: 0;
        right: 2px;
        font-size: 8px;
        font-family: 'FontAwesome';
        z-index: 100;
        color: #FFFFFF;
      }
      &:after{
        position: absolute;
        bottom: 0;
        right: 0;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 20px 20px;
        border-color: transparent transparent #ef0505 transparent;
      }
    }
  }
  span{
    border: 1px solid #e1e1e1;
    display: inline-block;
    padding: 4px 11px;
    color: #111111;
    font-family: 'Helvetica Neue Regular';
    font-size: 14px;
    cursor: pointer;
  }
}
.btn1{
  max-width: 60%;
  background-color: #e53935;
  border-color: #e53935;
  border-radius: 4px;
}
.nav1{
  .uk-navbar-nav{
    >li{
      >a{
        min-height: 28px;
        color: #FFFFFF;
        font-family:'SVN-Gilroy Light';
        font-size: 13px;
      }
      &.uk-active{
        >a{
          background-color: #1b9af5;
        }
      }
    }
  }
}
.card8{
  border: 1px solid #d4d4d4;
}
.name_cm{
  font-family:'SVN-Gilroy Bold';
}